body{
/*  background: url('<?= WEB_ROOT . "/assests/images/redCloud.png" ?>')*/
  background: url('../assests/images/mvc.png') 0px 0px / 250px 250px repeat;
}

.form, .alfabet, .alpaca {
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  width: 200px;
  padding: 50px;
}

.alpacaImage {
  width: 200px;
  height: 150px;
  border-radius: 15px;
}
